:root {
    --score-color: linear-gradient(rgba(255, 255, 0, 1),  0%, rgba(255, 165, 0, 1) 50%, rgba(255, 0, 0, 1) 100%);
    --score-bg: linear-gradient(rgba(255, 255, 0, 0.1),  0%, rgba(255, 165, 0, 0.1) 50%, rgba(255, 0, 0, 0.1) 100%);
}

.buggy-gutter {
  background: var(--score-bg);
  background-position: 0px -1000px;
  background-repeat: no-repeat;
  background-size: 100% 10000px;
}

.buggy-gutter::after {
  content: "";
  display: inline-block;
  float: left;
  position:relative;
  left: -10px;
  width: 5px;
  height: 20px;
  background: var(--score-color);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: 5px 10000px;
}

.buggy-line>a {
    float:right;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/sentry-sm.svg');
    background-size: 15px 13px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 1px 3px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #010202;
    font-size: 11px;
    width:120px;
}
.buggy-line>a:hover {
    text-decoration: none;
}

.buggy-line {
  background: var(--score-bg);
  background-position: 0px -1000px;
  background-repeat: no-repeat;
  background-size: 100% 10000px;
}

.buggy-file {
  background: var(--score-bg);
  background-position: 0px -1000px;
  background-repeat: no-repeat;
  background-size: 100% 10000px;
}

.buggy-file::after {
  content: "";
  display: inline-block;
  position:relative;
  float:left;
  left:-971px;
  width: 5px;
  height: 33px;
  background: var(--score-color);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: 5px 10000px;
}

.sparkline {
    overflow:visible;
    margin-top:2px;
    margin-right:5px;
    display: inline-block;
    float: right;
}

.sparkline path {
    stroke:#010202;
    stroke-width:1.5px;
    fill:none;
}

.sparkline > rect {
    fill:#f00;
}
